* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(198, 216, 255);
}

header {
    padding-top: 5rem;
    padding-left: 6rem;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.cardsContainer img {
    color: red;
}

.movieCard {
    flex: 25%;
    padding-left: 2rem;
}

.cropContainer {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.movieCard img {
    width: 250px;
}

.movieCard h4 {
    padding-top: 1rem;
}

.copyContainer {
    display: flex;
    width: 60%;
    margin: auto;
    margin-bottom: 3rem;
}

.column1 {
    flex: 50%;
}

.column2 {
    flex: 50%;
    padding-left: 5rem;
}



/* new styling */

.flexboxContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.childFlex h2 {
    text-align: center;
    margin-top: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-bottom: 1rem;
}

.childFlex {
    margin: 2rem;
}

.test {
    height: 200px;
    width: 200px;
    flex: 1;
    overflow: hidden;
    margin-top: 2rem;
}

.test img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}